<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>AlbeMarle </span>
          </a>
          <p>Empowering Health, Transforming Lives</p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Pages</h4>
          <ul>
            <li><i class="bi bi-dash"></i> <a routerLink="/home">Home</a></li>
            <li>
              <i class="bi bi-dash"></i> <a routerLink="/about">About us</a>
            </li>
            <li>
              <i class="bi bi-dash"></i> <a routerLink="/services">Services</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bi bi-dash"></i>
              <a href="#services-list">Mental Health support program</a>
            </li>
            <li>
              <i class="bi bi-dash"></i>
              <a href="#services-list">Health Care Education</a>
            </li>
            <li>
              <i class="bi bi-dash"></i>
              <a href="#services-list">Community Health Initiatives</a>
            </li>
            <li>
              <i class="bi bi-dash"></i>
              <a href="#services-list">Patient Support Services</a>
            </li>
            <li>
              <i class="bi bi-dash"></i>
              <a href="#services-list">Medical Outreach Programs</a>
            </li>
          </ul>
        </div>

        <div
          class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
        >
          <h4>Contact Us</h4>
          <p>
            918 Greenleaf St Elizabeth City, NC 27909-3552 <br /><br />
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> info&commat;albemarle.com<br />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AlbeMarle </span></strong>. All Rights
        Reserved
      </div>
    </div>
  </div>
</footer>
<!-- End Footer --><!-- End Footer -->
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
