<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a routerLink="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="d-flex align-items-center">AlbeMarle</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li>
          <a routerLink="/services" routerLinkActive="active">Services</a>
        </li>

        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
  <div class="">
    <i
      (click)="isOpen()"
      *ngIf="!isNavOpen"
      class="mobile-nav-show bi bi-list"
    ></i>

    <i
      (click)="isOpen()"
      *ngIf="isNavOpen"
      class="mobile-nav-toggle mobile-nav-hide bi bi-x"
    ></i>
  </div>
</header>
<!-- End Header -->
