<!-- ======= Contact Section ======= -->
<ablemarle-header title="Contact" subTitle="Contact Us" />
<section id="contact" class="contact">
  <div class="container position-relative" data-aos="fade-up">
    <div class="row gy-4 d-flex justify-content-end">
      <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
        <div class="info-item d-flex">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h4>Location:</h4>
            <p>918 Greenleaf St Elizabeth City, NC 27909-3552</p>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="info-item d-flex">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h4>Email:</h4>
            <p>info&commat;albemarlehf.org</p>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="info-item d-flex">
          <i class="bi bi-phone flex-shrink-0"></i>
          <div>
            <h4>Call:</h4>
            <p>+1 5589 55488 55</p>
          </div>
        </div>
        <!-- End Info Item -->
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <form
          class="php-email-form"
          (ngSubmit)="onSubmit()"
          [formGroup]="contactForm"
        >
          <div class="row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                formControlName="name"
                required
              />
              @if(isInputValid('name', 'required')){
              <p class="error">Name is required.</p>
              }
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                formControlName="email"
                placeholder="Your Email"
                required
              />
              @if(isInputValid('email', 'required')){
              <p class="error">Email is required.</p>
              }@if (isInputValid('email','email')) {
              <p class="error">Please enter a valid email address.</p>
              }
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="phone"
              placeholder="Your Phone Number (Optional)"
              formControlName="phone"
              required
            />
            @if(isInputValid('phone', 'pattern')){
            <p class="error">Invalid phone number.</p>
            }
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              placeholder="Message"
              required
              formControlName="message"
            ></textarea>
            @if(isInputValid('message', 'required')){
            <p class="error">Message is required.</p>
            }@if (isInputValid('message','minlength')) {
            <p class="error">Message cannot be less than 10 characters.</p>
            } @if (isInputValid('name', 'maxlength')) {
            <p class="error">Message cannot be greater than 5000 characters.</p>

            }
          </div>

          <div class="text-center">
            <button [disabled]="isSending()" type="submit">
              {{ isSending() ? "Sending..." : "Send Message" }}
            </button>
          </div>
        </form>
      </div>
      <!-- End Contact Form -->
    </div>
  </div>
</section>
<!-- End Contact Section -->
